//screen sizes
$break-small: 530px;
$break-large: 800px;

//colors
$dark_blue: #2c3594;
$white: #fff;
$transparent: #000000;
$orange: #f79447;
$dark_grey: #babcbd;
$light_grey: #f8f8f8;
$darker_grey: #e7e7e7;

//urls
$url_0: url('../images/common/header-background-repeat.jpg');
$url_1: url('../images/common/header-background.jpg');

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}

.xheader-inner {
  padding: 15px 0;
  margin: 0 auto;
  background: $transparent $url_1 repeat scroll 50% 100%;
}

#pageTop {
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0 auto;
  background: $transparent $url_1 repeat scroll 50% 100%;
}

.content-pad {
  margin-top: 15em;
  margin-bottom: 8em;
}

.content-pad-sides {
  margin-left: 1em;
  margin-right: 1em;
}

.site-logo-icon {
  margin-left: 10px;
}
.site-logo {
  color: $white;
  @include respond-to(handhelds) {display: none;}
  //@include respond-to(medium-screens) {font-size: 2em;}
}

#mainNav {

}

.impersonation {
  color: red;
  font-size: 2em;
}

.footer-spacer {
  height: 1em;
  background: $dark_grey;
  border-bottom: $orange solid 2px;
}

.footer {
  background-color: $light_grey;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
}

.footer-col-text {
  font-size: small;
  text-align: center;
  float: left;
}

.footer-col-text-spacer {
  margin-left: 1em;
  margin-right: 1em;
  border-left: $orange solid 2px;
  height: 1.5em;
  width: 2px;
  float: left;
}

.landing-text {
  font-size: x-large;
  padding-top: 2em;
}