{# base #}
{# Created by Justin on 11/16/2017 #}
{% block head %}
{% endblock head %}
<body>
{% block body %}

	{{ name }},
	<br />
	{% block content %}
	{% endblock content %}

{% endblock body %}

{% block footer %}
	<br />
	<br />
	<b>{{ parameter('site_name') }}</b><br />
	Alarm Monitoring Service
	<br />
	<br />
	<b>{{ parameter('company_name') }}</b><br />
	{{ parameter('company_address') }}<br />
	Tel: {{ parameter('company_phone') }}<br />
	Fax: {{ parameter('company_fax') }}<br />
	Email: {{ parameter('company_email') }}<br />
	<a href="{{ parameter('company_weblink_url') }}">{{ parameter('company_weblink') }}</a>
{% endblock footer %}
</body>