{% extends '::base.html.twig' %}

{% block head_style %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/home.css'|asset_version) }}" />
{% endblock head_style %}

{% block head_script %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('js/home.js'|asset_version) }}"></script>

{% endblock head_script %}

{% block page_header %}
{% endblock page_header %}

{% block content_content %}

	<div class="row">
		<div class="col-md-12 text-center">
			<h1>Welcome to the {{ parameter('site_name') }} portal!</h1>
			<br>
			<br>
		</div>
	</div>
	<div class="row">
		<div class="col-med-12 text-justify">
			<div class="landing-text">
				<p>Oxford Instruments Healthcare is committed to supporting our customer's and employee's success by offering world class services and support tools through our {{ site_name }} portal.
					Below you will find links to many of the support tools we provide.</p>
			</div>
		</div>
	</div>
	<br>
	<br>
	<div class="row">
		<div class="col-med-12">
			<dl class="row homeLinksFont">
				<dt class="col-sm-6">FieldAware Web Application</dt>
				<dd class="col-sm-6"><a href="https://auth.fieldaware.com/" target="_blank">FieldAware.com</a> </dd>

				<dt class="col-sm-6">OiVision Origional</dt>
				<dd class="col-sm-6"><a href="http://oi-vision.com" target="_blank">OiVision 1.0</a> </dd>

				<dt class="col-sm-6">OiVision GE Cryogen Monitoring</dt>
				<dd class="col-sm-6"><a href="https://cryo.oihealthcare.com" target="_blank">OiVision 2.0</a> </dd>

				<dt class="col-sm-6">Document Management System (DMS)</dt>
				<dd class="col-sm-6"><a href="https://dms.oihealthcare.com" target="_blank">DMS</a> </dd>

				{#<dt class="col-sm-6">Document Management System (DMS)</dt>#}
				{#<dd class="col-sm-6"><a href="https://oihealthcareportal.com/dms/" target="_blank">DMS</a> </dd>#}

				<dt class="col-sm-6">Oxford Webmail</dt>
				<dd class="col-sm-6"><a href="https://mail.oxinst.com" target="_blank">Webmail</a> </dd>

				<dt class="col-sm-6 text-truncate">Manage your OiHealthcare.com login</dt>
				<dd class="col-sm-6"><a href="https://support.oihealthcare.com" target="_blank">User Settings</a> </dd>

			</dl>
		</div>
	</div>
	<div style="clear: both;"></div>

	
{% endblock content_content %}

{% block content_sidebar %}
{% endblock %}

