{# none #}
{# Created by Justin on 9/18/2017 #}
{# Used as a placeholder #}

{% extends '::base.html.twig' %}

{% block headline %}
{% endblock headline %}

{% block content_content %}
	<img src="{{ asset('images/common/UnderConstruct.jpg') }}">
{% endblock content_content %}

{% block content_sidebar %}
{% endblock content_sidebar %}