{# utils #}
{# Created by Justin on 11/8/2017 #}

{% macro editLink(href) %}
	&nbsp;<a href="{{ href }}"><i class="fa fa-cogs" aria-hidden="true" style="font-size:16px;"></i></a>
{% endmacro %}

{% macro lineThrough() %}
	style="text-decoration: line-through; color: #696a70;"
{% endmacro %}

{% macro lineThroughStyle() %}
	text-decoration: line-through; color: #696a70;
{% endmacro %}

{% macro outlineTr() %}
	outline: thin solid black;
{% endmacro %}

{% macro backColorOrgRedWht(red, org) %}
	background-color: {% if red %}#ce1414{% elseif org %}#ffaa44{% else %}#ffffff{% endif %};
{% endmacro %}
