{# admin #}
{# Created by Justin on 7/12/2017 #}

{% extends '::base.html.twig' %}

{% block head_style %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/adm.css'|asset_version) }}" />
{% endblock head_style %}

{% block head_script %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('js/adm.js'|asset_version) }}"></script>


{% endblock head_script %}

{% block headline %}
	Administration
{% endblock headline %}

{% block content_content %}
 <strong>ADMIN CONTENT</strong>

{% endblock content_content %}

{% block content_sidebar %}
{% endblock content_sidebar %}