{# admin #}
{# Created by Justin on 7/12/2017 #}

{% extends '::base.html.twig' %}


{% block head_style %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/adm.css'|asset_version) }}" />
	<link rel="stylesheet" href="{{ asset('css/tablesorter.css'|asset_version) }}" />
{% endblock head_style %}

{% block head_script %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('js/adm.js'|asset_version) }}"></script>
	<script type="text/javascript" src="{{ asset('js/tablesorter.js'|asset_version) }}"></script>
	<script type="text/javascript" src="{{ asset('js/tablesorter-pager.js'|asset_version) }}"></script>
	<script type="text/javascript" src="{{ asset('js/tablesorter-pagerappend.js'|asset_version) }}"></script>
	<script type="text/javascript" src="{{ asset('js/tablesorter-widgets.js'|asset_version) }}"></script>
{% endblock head_script %}

{% block headline %}
	Users Administration
{% endblock headline %}

{% block content_content %}
	<h3>Users Enabled</h3>
	<div class="tablesorterPagerControls tablesorter-pager"></div>
	<table id="usersEnabled" class="tablesorter">
		<thead>
		<tr>
			<th>ID</th>
			<th>Username</th>
			<th>Name</th>
			<th>Email</th>
		</tr>
		</thead>
		<tbody>
		{% for userEnabled in usersEnabled %}
			<tr class="clickable-row" data-href="{{ path('users_edit', {'id': userEnabled.id}) }}">
				<td>{{ userEnabled.id }}</td>
				<td>{{ userEnabled.uid }}</td>
				<td>{{ userEnabled.name }}</td>
				<td>{{ userEnabled.email }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>

	<hr>
	<h3>Users Not Enabled</h3>
	<div class="tablesorterPagerControls tablesorter-pager"></div>
	<table id="usersNotEnabled" class="tablesorter">
		<thead>
		<tr>
			<th>ID</th>
			<th>Username</th>
			<th>Name</th>
			<th>Email</th>
		</tr>
		</thead>
		<tbody>
		{% for userNotEnabled in usersNotEnabled %}
			<tr class="clickable-row" data-href="{{ path('users_edit', {'id': userNotEnabled.id}) }}">
				<td>{{ userNotEnabled.id }}</td>
				<td>{{ userNotEnabled.uid }}</td>
				<td>{{ userNotEnabled.name }}</td>
				<td>{{ userNotEnabled.email }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>

	<hr>
	<h3>Users Not Registered</h3>
	<div class="tablesorterPagerControls tablesorter-pager"></div>
	<table id="usersNotRegistered" class="tablesorter">
		<thead>
		<tr>
			<th>ID</th>
			<th>Username</th>
			<th>Name</th>
			<th>Email</th>
		</tr>
		</thead>
		<tbody>
		{% for userNotRegistered in usersNotRegistered %}
			<tr class="clickable-row" data-href="{{ path('users_edit', {'id': userNotRegistered.id}) }}">
				<td>{{ userNotRegistered.id }}</td>
				<td>{{ userNotRegistered.uid }}</td>
				<td>{{ userNotRegistered.name }}</td>
				<td>{{ userNotRegistered.email }}</td>
			</>
		{% endfor %}
		</tbody>
	</table>
{% endblock content_content %}

{% block content_sidebar %}
{% endblock content_sidebar %}