{# usersProfile #}
{# Created by Justin on 9/7/2017 #}

{% extends '::base.html.twig' %}

{% block head_script %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('js/users.js'|asset_version) }}"></script>
{% endblock head_script %}

{% block headline %}
	Profile for {{ app.user.name }}
{% endblock headline %}

{% block content_content %}
	<div class="row">
		<div class="col-xs-12">
			{{ form_start(passwordForm) }}
			{{ form_end(passwordForm) }}
		</div>
	</div>
	<br>
	<div><hr></div><br>
	<div class="row">
		<div class="col-xs-12">
			{{ form_start(infoForm) }}
			{{ form_end(infoForm) }}
		</div>
	</div>
	<span style="display: none;" id="editState">{% if state is defined %}{{ state }}{% endif %}</span>
{% endblock content_content %}

{% block content_sidebar %}
{% endblock content_sidebar %}