{# usersProfile #}
{# Created by Justin on 9/7/2017 #}

{% extends '::base.html.twig' %}

{% block headline %}
	Preferences for {{ app.user.name }}
{% endblock headline %}

{% block content_content %}
	<div class="row">
		<div class="col-xs-12">
			{{ form_start(prefsForm) }}
			{{ form_end(prefsForm) }}
		</div>
	</div>
{% endblock content_content %}

{% block content_sidebar %}
{% endblock content_sidebar %}