{% extends 'base.html.twig' %}

{% block navbar %}
	{% embed '@MopaBootstrap/Navbar/navbar.html.twig' with { fixedTop: false, staticTop: false, fixedBottom: false, staticBottom: false, inverse: false, fluid: true, id: 'mainNav'} %}
		{% block brand %}
			{#<a class="navbar-brand" href="#">Mopa Bootstrap</a>#}
		{% endblock %}

		{% block menu %}
			{% if is_granted('ROLE_USER') %}
				{{ mopa_bootstrap_menu('AppBundle:Builder:userMenu', {'automenu': 'navbar', 'pull-right': true}) }}
			{% endif %}
			{{ mopa_bootstrap_menu('AppBundle:Builder:mainMenu', {'automenu': 'navbar', 'pull-right': true}) }}
		{% endblock %}
	{% endembed %}
{% endblock %}

{% block content_sidebar %}{% endblock %}
{% block page_header %}
{% endblock page_header %}
{% block content_content %}
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>Login!</h1>
				{% if error %}
					<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}
				{{ form_start(form) }}
					{{ form_row(form._username) }}
					{{ form_row(form._password) }}

					<button type="submit" class="btn btn-success">Login <span class="glyphicon glyphicon-log-in"></span></button>
				{{ form_end(form) }}

			</div>
		</div>
	</div>
{% endblock %}